target
.idea
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
dependency-reduced-pom.xml
*.dll
*.so
*.jnilib
*.jar
camel-sap/org.fusesource.camel.component.sap.test/data/*.xml

